.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#main {
    justify-content: center;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profilesContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.profilesContainer > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.widgetContainer {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 200px;
    border-width: 10px; 
    border-style: dashed; 
    padding-left: 15px; 
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 15px;
    
}

#linkedInContainer {
    border-color: lightskyblue;
}

#gitContainer {
    border-color: rgb(158, 97, 214);
}

#contactContainer {
    border-color: rgb(217, 17, 191);
}

.gitRepositories {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.gitRepositoryName {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 80%;
}

.gitRepositoryInfo {
    display: flex;
    align-items: center;
    flex: 20%;
    gap: 5px;
}

.gitRepoText {
    text-decoration: none; 
    font-size: 15px;
    color: black;
}

.logoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.infoContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.boldText {
    font-size: 17px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.descriptionText {
    text-decoration: none; 
    text-align: center;
    font-size: 13px;
    color: black;
}

.roundImg {
    border-radius: 50%;
}

